*, *:after, *:before {
    box-sizing: border-box;
}


.coupon {
    background-image: url('couponbg.jpeg');
    margin: 5em auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 40.5em;
    height: 24.625em;
}

.header {
    background-color: #c93042;
    height: 8.0625em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    text-align: center;
    color: #fff;
    margin: 0;
}

h1 {
    font-size: 3.75em;
}

h2 {
    font-size: 2em;
}

.information {
    width: 15.625em;
    margin: 0 0 0 23em;
    padding: 2em .85em 2em 1em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: .04em;
    margin-bottom: .25em;
}

.information p {
    font-size: .85em;
    line-height: 1.5em;
    margin: 0;
}

.button {
    background-color: #ffc5c1;
    color: #52220c;
    border-radius: .5em;
    margin: .5em .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    padding: .25em 2.45em;
    position: relative;
}

h4 {
    margin: 0;
}

.right-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: .65em solid transparent;
    border-left: .65em solid #e5553a;
    right: .25em;
    top: 50%;
    transform: translateY(-50%);
}